  
.box1 div{
    width: 50vw;
    overflow: hidden;
}

  .box1 img {
    transition: all 0.3s ease 0s;
    width: 100%;
 
  }
  
  .box1 img:hover {
    transform: scale(1.05);
  }

.text-moving {
    animation: moveText linear 15s -3s forwards infinite;
  }
  
  
  @keyframes moveText {
      from { transform: translateX(100%); }
      to { transform: translateX(-150%); }
  }
  
  [data-aos="new"] {
      opacity: 0;
      transition-property: transform, opacity;
  }
  [data-aos="new"].aos-animate {
      opacity: 1;
  }
  @media screen and (min-width: 768px) {
      [data-aos="new"] {
          transform: translateY(30px);
     }
      [data-aos="new"].aos-animate {
          transform: translateY(0);
     }
  }
  

  
   

html{
    width: 100%;
}
body{
    display: block;
    width:100%;

    
   
}
.copy{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
text-align: center;
margin-top: 0vh;
padding-bottom: 10vh;
/* identical to box height, or 100% */


/* Text/Dark-20 */

color: #363A40;

}
.main{
    background: linear-gradient(180deg, #26282B 0%, #08090C 100%);
   
    width:100%;
}
.navb{
    background:transparent!important;
    position:fixed;
    width: 95%;
    z-index: 9999;
    margin-left: 10vh;
   
}
.navbar-nav{
 
    margin-left: 55vw;
}
.nav-link{
    width: 10vw;
}
.head{
    font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 72px;
margin-left: 10vw;
/* or 129% */


/* Text/Alternate-light-grey */

color: #EDEFF3;
}
.navigation{
    display: flex;
flex-direction: row;
align-items: flex-start;
margin-left: 9vw;


}
.n{
    display: flex;
flex-direction: row;
align-items: flex-start;

margin-right: 10%;

position: static;


flex: none;
order: 2;
flex-grow: 0;

}
.frame{
    margin-top: 10vh;
    margin-left: 10vw;
    
}
.n button{
    position: static;

background: transparent;
border:transparent;

font-family: Rubik;
font-style: normal;
font-weight: normal;

/* identical to box height, or 100% */

padding: 10px;

padding-right: 5%;
/* Text/Dark-grey */

color:#656971;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;

}
.n button:hover{
    color:#BFC6EB;
}

.fouter{
    display:flex;
    margin-left:4% ;
    margin-right: 4%;
    margin-top: 4vh;
}
.fo1{
    width: 40%;
}
.fo1 h2{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 34px;
/* or 144% */


/* Text/Alternate-light-grey */

color: #EDEFF3;
}
.fo1 p{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */


/* Text/Dark-grey */

color: #656971;
}
.span{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */

text-decoration-line: underline;

/* Text/Alternate-light-grey */
margin-top: 2vh;
color: #EDEFF3;

}
.fo2 p{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* or 150% */
margin-top: 2vh;

/* Text/Alternate-fark-grey */

color: #7C7F86;
}
.fo2{
    width: 40%;
    margin-left: 8%;
}
.icons{
    display: flex;
   
}
.icons img{
    margin: 5px;
    width: 40px;
height: 25px;
margin-right: 4%;
}





.box1{
    margin-bottom: 10vh;
}

.b3{
    margin-left: 30%;
}
.box1 h2{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
margin-top: 3vh;
width: 50vw;
/* identical to box height, or 100% */


/* Text/Alternate-light-grey */

color: #EDEFF3;

}
.box1 img{

width: 50vw;
height: auto;
left: 252px;
top: 4226px;

overflow: hidden;
}

    .bio {
        text-align: center;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
      }

.anmate-text{
    font-family: Rubik;
font-style: normal;
font-weight: 300;
font-size: 56px;
line-height: 56px;
/* identical to box height, or 100% */

 
  display:inline-block;
 

  text-transform: uppercase;
  transform: translateX(100%);
  white-space: nowrap;

/* Text/Alternate-light-grey */

color: #EDEFF3;
}
.dis{
    font-family: Rubik;
    width: 20%;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
margin-left: 10vw;
/* or 133% */


/* Text/Light-20 */

color: #939AA9;
}

.container-one{
    display:flex;
    opacity: 0.7;
    padding: 10px;
}
.container-three{
    display:flex;
    opacity: 0.7;
    padding: 10px;
}
.container-two{
    color:#939AA9;
    padding: 10px;
    opacity: 0.6;
    width: 50%;
    margin-top: 10vh;
    margin-left: 10vw;
    
}
.count{
    
    height:45vh;
    
    margin-top: 20vh;
}
.count h2{
    text-align: center;
    font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 72px;
color: #FCFCFC;
}
.count p{
    
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* or 125% */

text-align: center;

/* Text/Light-20 */

color: #939AA9;
}
.item-two img{
    width: 60vw;
    height: 550px;
    
}
.item-two{


margin-top: 10vh;
margin-left: 1vw;
margin-bottom: 10vh;
/* BG/Gradient */





}

.cont-3{
    width: 90%;
    height: auto;
    margin: 10%;
}
.item-one p{

    width: 300px;
    padding: 0;
    margin-bottom: -2px;
    margin-left: 10vw;
   
    top: 35vh;
    
   
   font-family: Rubik;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   height: 24px;
   overflow: hidden;
  

   color: #939AA9;
}
.bt-n{
    display:flex;
    margin-left: 10vw!important;
    margin-top: 7vh!important;
    
    
    
}
.contact{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
margin-left: 156px;
margin-top: 15vh;
/* identical to box height, or 100% */


/* Text/Dark-grey */

color: #656971;
}
.c2{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
margin-left: 10vw;

color: #EDEFF3;
}
.btn{
    margin-right: 10px;
}

.item-one h1{
   
    margin-top: 20vh;
    margin-left: 10vw;
    
   
    top: 25vh;

   font-family: Caveat;
   font-style: normal;
   font-weight: normal;
   font-size: 48px;
   line-height: 48px;
/* identical to box height, or 100% */


/* Text/Alternate-light-grey */

    color: #EDEFF3;
}
.b1{
    background: linear-gradient(97.15deg, #793599 -11.99%, #133A9E 109.23%);
    border: transparent;
    width: 150px;
height: 56px;
}
.b2{
    background: transparent;
    border: transparent;
    width: 202px;
height: 56px;
}
.item-3{
    color: #EDEFF3;
    opacity: 0.9;
    width: 100%;
    margin-top: 15vh;
}
.item-3 h1{
    width:30vw;
    opacity: 0.5;

    margin-left: 10vw;
    margin-right: 1%;
    margin-top: 10vh;
    font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 68px;
/* or 121% */

letter-spacing: 0.0025em;
}

.item-3 p{
    font-family: Rubik;
    
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 20px;

margin-left: 1vw;
color: #939AA9;
}
@media screen and (max-width: 680px){
   .bio h1{
      font-size: 30px;
      margin: 0;
   }
   .bio{
       margin: 0;
       padding: 0;
       margin-top: -2vh;
   }
    .item-one h1{
        margin-top: 4vh;
       
        
    }
   .item-two img{
       width: 95vw;
       height: 40vh;
   }
    .item-3 h1{
        font-size: 40px;
        line-height: 40px;
        width: 70vw;
    }
    .container-one{
        flex-direction:column-reverse;
    }
    .container-three{
        flex-direction: column;
    }
    .item-two{
        margin: 0;
        margin-top: 10vh;
        width: 100%;
      
    }
    .nav-link{
        width: auto;

    }
    .navbar-nav{
        margin-left: 0;
    }
    .navb{
        margin-left: 0;
    }
    .container-two{
        width: 90%;
    }
    .head{
        font-size: 40px;
    }
    .dis{
        font-size: 25px;
        width: 70%;
        margin-left: 15%;
    }
    .work{
        text-align: center;
        
    }
    .b3{
        margin-left: 0;
    }
    .box1 h2{
        font-size: 10px;
        width: 75%;
    }
    .cont-3{
        width: 75%;
        text-align: center;
        align-items: center;
    }
    .cont-3 img{
        width: 70%;
    }
    .fouter{
        display: block;
        margin: 0;
        text-align: center;
        align-items: center;
        margin-left: 10%;
    }
    .fo1{
        width: 75%;
        text-align: center;
        margin: 0;
    }
    .fo2{
        width: 75%;
        text-align: center;
        align-items: center;
        margin: 0;
    }
    .count{
        margin-top: 10vh;
        margin-bottom: -10vh;
    }
    .system{
        margin-top: 0;
        text-align: center;
        align-items: center;
    }
    .n{
        margin: 0;
        padding-right: 10vw;
        padding: 0;
        width:24vw ;
        text-align: center;
        align-items: center;
    }
    .navigation{
        margin: 0;
        width: 96vw;
        text-align: center;
        align-items: center;
    }
    .n button{
        margin: 0;
        width: 24vw;
        font-size: 9px;
        text-align: center;
        align-items: center;
    }
   .item-3 p{
       margin: 0px;
       width: 85vw;

   }
   
  
   .item-3{
       margin-left:4vh;
   }
   .box1{
       margin: 0;
       text-align: center;
       align-items: center;
       width: 98vw;
       
   }
   .box1 div{
       width: 94vw;
       margin-left: 3vw;
       
   }
   .box1 img{
       width: 94vw;
   }
   .box1 h2{
       margin-left: 13vw;
       width: 94;
   }
   .containner{
       margin: 0;
       text-align: center;
       align-items: center;
   }
   .frame{
       margin: 0;
       text-align: center;
       align-items: center;
   }

}