
    .bio {
        text-align: center;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
      }

.anmate-text{
    font-family: Rubik;
    margin-top: 51px;
    margin-bottom: 51px;
font-style: normal;
font-weight: 300;
font-size: 56px;
line-height: 56px;


 
  display:inline-block;
 

  text-transform: uppercase;
  transform: translateX(100%);
  white-space: nowrap;
color: #EDEFF3;
}
.animated3{
    display: block;
    animation: fade ease-in-out 2s;
}
.animated4{
    display: block;
    animation: fade2 ease-in-out 2s;
}
.animated{
    display: block;
    animation: fade ease-in-out 4s;
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
.animated2{
    display: block;
    animation: fade2 ease-in-out 4s;
}
@keyframes fade2 {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
    
}
.text-moving {
    animation: moveText linear 15s -3s forwards infinite;
  }
  
  
  @keyframes moveText {
      from { transform: translateX(100%); }
      to { transform: translateX(-150%); }
  }
  
  [data-aos="new"] {
      opacity: 0;
      transition-property: transform, opacity;
  }
  [data-aos="new"].aos-animate {
      opacity: 1;
  }
  @media screen and (min-width: 768px) {
      [data-aos="new"] {
          transform: translateY(30px);
     }
      [data-aos="new"].aos-animate {
          transform: translateY(0);
     }
  }






body{
    position: static;
    width: 100%;
    background-color: #24292C;
}
*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}




.main{
   background-color: #24292C;
  
    
    width: 97.9vw;
}

.background{
  margin-left: 10vw;
  margin-right: 10vw;
  
}
.navb{
    background-color:#26282B ;
    position: fixed;
    width: 100%;
    z-index: 9999999;
}
.navbar-nav{
    margin-left: 45vw;
}
.nav-link{
    width: 15vw;
    font-size: 13px;
}
.navbar-brand{
    margin-left:10vw;
}

/* first box*/
.container-one{
    display:flex;
    overflow: hidden;
    padding: 10px;
    
}
.item-one{
    width: 70vw;
}
.item-two{
    margin-top: 112px;
    margin-left: 2vw;
    width: 90vw;
    
height: 70vh;
    overflow: hidden;
    
    
}
.item-two img{
    width: 100%;
    margin-left: -1vw;
    
  

}
.t-text{
   font-family: Rubik;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 16px;
   overflow: hidden;
   color: #939AA9;

   
}
.bt-n{
    display:flex;
    margin-top: 7.5vh;     
}
.contact{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
color: #656971;
margin-top: 15vh;
}
.c2{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
color: #EDEFF3;
width: 158px;
height: 16px;
}

.item-one h1{
    margin-top: 258px;
   font-family: Caveat;
   font-style: normal;
   font-weight: normal;
   font-size: 48px;
   line-height: 48px;
    color: #EDEFF3;
    margin-bottom: 2vh;
}
.b1{
  
    background: linear-gradient(97.15deg, #793599 -11.99%, #133A9E 109.23%);

    margin-right: 18px;
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
border-image: linear-gradient(90deg, rgba(248, 238, 250, 0.7), rgb(250,224,66,0)) 1;





border-radius: 4px;
/* identical to box height, or 100% */
width: 150px;
height: 56px;

/* Text/Alternate-light-grey */

color: #EDEFF3;
}
.b2{
    background: transparent;
    border: transparent;
    font-family: Rubik;
font-style: normal;
font-weight: normal;
width: 202px;
height: 56px;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */


/* Text/Tertiary */

color: #BFC6EB;

}
.b2:hover{
    background: transparent !important;
}
/* secound box*/
.container-two{
    color:#939AA9;
    
    opacity: 0.6;
    width: 50%;
    margin-top: 89px;
   
    
}

.container-three{
    display:flex;
    opacity: 1;
   
}
.item-3{
    color: #EDEFF3;
    opacity: 1;
    width: 50vw;
   
}
.item-3 h1{
    width:40vw;
    opacity: 1;

    color: #363A40;;
    margin-top: 290px;
    font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 60px;
/* or 121% */

letter-spacing: 0.0025em;
}

.item-3 p{
    font-family: Rubik;
    
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 34px;
margin-top: 112px;

color: #939AA9;
}

/*third box*/

.count{
    width: 100%!important;
    text-align: center;
    justify-content: center;
    margin-top: 20vh;
    
}

.j{
    height: 30vh;
}
.j h1{
    font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 72px;
/* identical to box height, or 100% */


/* Text/Light */

color: #FCFCFC;
}
.j p{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* or 125% */

text-align: center;

/* Text/Light-20 */

color: #939AA9;
}
/*fourth box*/


.box1{
    margin-bottom: 10vh;
    margin-left: 5vw;
    width: 50vw;
    
}
.p{
   opacity: 1;
}
.z{
    
    opacity: 0.5;
}
.b3{
    margin-left: 30vw;
}
.box1 h2{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
margin-top: 4vh;
width: 50vw;
color: #EDEFF3;

}
.btext{
    height: 84px;
    overflow: hidden;
}
.btext span{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */


/* Text/Light-30 */

color: #6C778C;
}
.box1 img{

width: 50vw;
height: 575px;

 transition: all 0.3s ease 0s;
overflow: hidden;
}
.box1 img:hover{
    transform: scale(1.15);
}
.box1 div{
    width: 50vw;
    overflow: hidden;
    
    
}
.number{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */
color: #6C778C;
letter-spacing: 0.05em;
transform: rotate(-90deg);
/* Text/Dark-grey */
position:absolute;
top: 19vh;
left: 31vw;
z-index: 99999999999;

}
.number2{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */
color: #6C778C;
letter-spacing: 0.05em;
transform: rotate(-90deg);
/* Text/Dark-grey */
position:absolute;
top: 117vh;
left: 3.9vw;
z-index: 99999999999;

}
.number3{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */
color: #6C778C;
letter-spacing: 0.05em;
transform: rotate(-90deg);
/* Text/Dark-grey */
position:absolute;
top: 214vh;
left: 31vw;
z-index: 99999999999;

}
.number4{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */
color: #6C778C;
letter-spacing: 0.05em;
transform: rotate(-90deg);
/* Text/Dark-grey */
position:absolute;
top: 312vh;
left: 3.9vw;
z-index: 99999999999;

}


.dis{
font-family: Rubik;
width: 40%;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;

color: #939AA9;
}
.head{
    font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 62px;

color: #EDEFF3;
}
.navigation{
    display: flex;
flex-direction: row;
align-items: flex-start;

margin-top: 72px;

}
.n{
    display: flex;
flex-direction: row;
align-items: flex-start;

margin-right: 64px;
position: static;
flex: none;
order: 2;
flex-grow: 0;
margin-bottom: 8px;
}
.frame{
    margin-top: 10vh;
    
}
.n button{
    position: static;
background: transparent;
border:transparent;
font-family: Rubik;
font-style: normal;
font-weight: normal;

flex: none;
order: 0;
flex-grow: 0;

}
.n button:hover{
    color:#c1c4d6;
}
.invisible{
    display: none;
}
.invisible a{
    display: none;
}
.hoverbutton{
    position: absolute;
    z-index: 999999999;
    display: flex;
    left: 22vw;
    margin-top:25vh;
}
.hoverbutton2{
    position: absolute;
    z-index: 999999999;
    display: flex;
    left: 50vw;
    margin-top:29vh;
}
.bt-1{
    width: 196px;
height: 56px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
color: #EDEFF3;
background: linear-gradient(97.15deg, #793599 -11.99%, #133A9E 109.23%);
box-shadow: -5px -5px 30px rgba(255, 255, 255, 0.25), 10px 10px 40px #0C0D0E;
border-radius: 4px;
}
.bt-2{
    margin-top: 32px;
    width: 196px;
height: 56px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #EDEFF3;
    background: linear-gradient(97.15deg, #793599 -11.99%, #133A9E 109.23%);
    box-shadow: -5px -5px 30px rgba(255, 255, 255, 0.25), 10px 10px 40px #0C0D0E;
    border-radius: 4px;
}

.black{
    color:#656971;
}
.white{
    color:#BFC6EB; 
    border-bottom:#BFC6EB ;
    border: 2px;
}

/* 5th fase*/
.table1{
    display: flex;
    
}
.one{

width: 20vw;
height: 30vh;
margin-left: 10vw;
margin-top: 60vh;
overflow: hidden;

}
.two{

    width: 10vw;
height: 31vh;
margin-left: 4vw;
margin-top: 40vh;
overflow: hidden;
}
.three{
  
    width: 11vw;
height: 32vh;
margin-left: 5vw;
margin-top: 30vh;
overflow: hidden;
}
.four{

    width: 23vw;
height: 35vh;
margin-left: 6vw;
margin-top: 55vh;
overflow: hidden;
}
.table2 {

    text-align: center;
    width: 52vw;
    margin-left: 25vw;
    opacity: 0.8;
}
.table2 h1{
    font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 56px;
/* identical to box height, or 100% */


/* Text/Light */

color: #FCFCFC;
}
.table2 p{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
/* or 133% */

text-align: center;

/* Text/Light-20 */

color: #939AA9;
}

.table1 img{
    width: 100%;
    height: 100%;
}


.table3{
    display: flex;
}
.five{
    height: 45vh;
    width: 23vw;
margin-left: 11vw;
margin-top:10vh; 
overflow: hidden;
}
.five img{
    height: 45vh;
width: 23vw;
}
.six{
    width: 24vw;
    height: 60vh;
    overflow: hidden;
margin-left: 7vw;
margin-top: 30vh;
}
.six img{
      width: 24vw;
height: 60vh;
}
.seven{
    width: 17vw;
height: 30vh;
margin-left: 2vw;
margin-top:5vh;
overflow: hidden;

}
.seven img{
    width: 17vw;
    height: 30vh;
}

/* footer */
.bottom{
    margin-left: 10vw;
   
}



.fouter{
    display:flex;
 
    margin-top: 16vh;
}
.fo1{
    width: 30%;
}
.fo1 h2{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 34px;

color: #EDEFF3;
}
.fo1 p{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;

color: #656971;
}
.span{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
text-decoration-line: underline;
margin-top: 0vh;
color: #EDEFF3;

}
.fo2 p{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 14px;
/* or 150% */
margin-top: 0vh;
color: #7C7F86;
}
.fo2{
    width: 30%;
    margin-left: 30vw;
    margin-top:2vh ;
    
}
.icons{
    display: flex;
   
}
.icons img{
    margin: 5px;
    width: 32px;
    height: 32px;
margin-right: 4%;
}
.icons img:hover{
    color: rgba(108, 119, 140, 1);

}
.last{
    text-align: center;
    padding-bottom: 5vh;
}
.copy{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */


/* Text/Dark-20 */

color: #363A40;
}



/*model*/
.modal-content{
    background: #2D3136;
   border-radius: 20px;

    box-shadow: 10px 10px 40px 0px rgba(12, 13, 13, 0.7);

box-shadow: -10px -10px 40px 0px rgba(212, 211, 226, 0.15);

box-shadow: 5px 5px 24px 0px rgba(12, 13, 13, 0.25) inset;

box-shadow: -5px -5px 24px 0px rgba(179, 178, 186, 0.05) inset;



}
.model{
    padding: 0;
}
.modal-fullscreen{
    width: 80vw!important;
    margin-top: 9vh;
    margin-left: 10vw;
    height: 91vh;
    background: #2D3136;
 
    box-shadow: -10px -10px 40px rgba(212, 211, 226, 0.15), 10px 10px 40px rgba(12, 13, 13, 0.7), inset -5px -5px 24px rgba(179, 178, 186, 0.05), inset 5px 5px 24px rgba(12, 13, 13, 0.25);
    border-radius: 20px;
   
}

.modal-header{
    border: transparent;
}
.modal-footer{
    border: transparent;
}

.modal-body img{
    
width: 35vw;
height: 70vh;
margin-left: 60px;
margin-top: 20px;
padding: 0!important;

}
.modal-body{
    display: flex;

}
.from{
    width: 30vw;
    margin-left: 3vw;
}
.texttop h1{
    font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 23px;
line-height: 23px;
color: #EDEFF3;
}
.top{
    display: none;
}
.im{
    display: flex;
}
.texttop p{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: #939AA9;
}
.inputtext label{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */
margin-top: 30px;

/* Text/Light-20 */

color: #939AA9;

}
.inputtext input{
    background: transparent;
    border-image: linear-gradient(90deg, rgba(252, 253, 253, 0.7), rgb(250,224,66,0)) 1;
    /*border-color: linear-gradient(to right, rgba(255, 255, 255, 1) , rgba(255, 255, 255, 0));*/
    width: 360px;
height: 56px;
border-radius: 4px ;
border-style: solid;
   border-width: 1px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
/* or 150% */
margin-top: 1px;

/* Text/Light */

color: #FCFCFC;
}
.inputtext textarea{
    border-style: solid;
   border-width: 1px;
  
   border-image: linear-gradient(90deg, rgba(252, 253, 253, 0.7), rgb(250,224,66,0)) 1;


    height: 192px;
    background: transparent;      
    width: 360px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    margin-top: 1px;
    
    /* Text/Light */
    
    color: #FCFCFC;

}
.inputtext button{
    background: linear-gradient(97.15deg, #793599 -11.99%, #133A9E 109.23%);
border-radius: 4px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */
margin-top: 30px;

/* Text/Alternate-light-grey */
border: 1px solid;



color: #EDEFF3;
border-image: linear-gradient(90deg, rgba(248, 238, 250, 0.7), rgb(250,224,66,0)) 1;
width: 250px;
height: 56px;
/* Inside Auto Layout */

flex: none;
order: 0;
}
.ondone{
    text-align: center;
    margin-left: 12.5vw;
    
}
.ondone img{
    width: 50vw;
    height: 50vh;
}
.ondone button{
    background: linear-gradient(97.15deg, #793599 -11.99%, #133A9E 109.23%);
    
    border-radius: 4px;
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
width: 258px;
height: 56px;
margin-top: 50px;
/* identical to box height, or 100% */


/* Text/Alternate-light-grey */

color: #EDEFF3;

}
.ondone h2{
    font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */


/* Text/Alternate-light-grey */

color: #EDEFF3;
}
.ondone p{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */


/* Text/Light-20 */

color: #939AA9;
}
.ondone span{
    font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */


/* Text/Alternate-light-grey */

color: #EDEFF3;
}
.i{
    display: block;
}
.k{
    display: none;
}

#id::placeholder{
    position: absolute;
    background: #4E3333;
border-radius: 4px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
margin-top: 16px;
margin-left: 20px;
padding: 6px 12px;
color: #B83939;
}