  .bio {
        text-align: center;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
      }

.anmate-text{
    font-family: Rubik;
    margin-top: 51px;
    margin-bottom: 51px;
font-style: normal;
font-weight: 300;
font-size: 56px;
line-height: 56px;


 
  display:inline-block;
 

  transform: translateX(100%);
  white-space: nowrap;
color: #EDEFF3;
}
.anmate-text span{
    font-family: Caveat;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 72px;
/* identical to box height, or 100% */


/* Text/Dark-grey */

color: #656971;

}
.animated3{
    display: block;
    animation: fade ease-in-out 2s;
}
.animated4{
    display: block;
    animation: fade2 ease-in-out 2s;
}
.animated{
    display: block;
    animation: fade ease-in-out 3s;
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
.animated2{
    display: block;
    animation: fade2 ease-in-out 4s;
}
@keyframes fade2 {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
    
}
.text-moving {
    animation: moveText linear 15s -3s forwards infinite;
  }
  
  
  @keyframes moveText {
      from { transform: translateX(100%); }
      to { transform: translateX(-150%); }
  }
  
  [data-aos="new"] {
      opacity: 0;
      transition-property: transform, opacity;
  }
  [data-aos="new"].aos-animate {
      opacity: 1;
  }
  @media screen and (min-width: 768px) {
      [data-aos="new"] {
          transform: translateY(30px);
     }
      [data-aos="new"].aos-animate {
          transform: translateY(0);
     }
  }






body{
    position: static;
    width: 100vw;
    overflow-x: hidden;
    background-color: #24292C;
}
*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.topicon{
    position:fixed;
    z-Index:99999999;
    margin-top:34px;
    margin-left:0.5vw;
}
.menu-collapsed{
    display: none;
}
.topbar{
    display: block;
}


.main{
   background-color: #24292C;
  
    
    width: 100vw;
}

.background{
  margin-left: 10vw;
  margin-right: 10vw;
 
  
}
.navb{
    background-color:#26282B ;
    position: fixed;
    width: 100%;
    z-index: 9999999;
    height: 103px!important;
    box-shadow: 0px 10px 40px rgba(25, 28, 30, 0.3);
}
.navb2{
    background-color:#26282B ;
    position: fixed;
    width: 100%;
    z-index: 9999999;
    height: 103px!important;
  
}
.navbars{
    display: flex;
    float:right;
    margin-right: 10vw;
    margin-top: 36px;
    text-decoration: none;
}
.navbars li{
    text-decoration: none;
    
}
.tap{
    text-decoration: none;
    width: auto;
height: 14px;

margin-left: 96px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
/* identical to box height, or 100% */


/* Text/Alternate-light-grey */

color: #EDEFF3;
}
/* first box*/
.container-one{
    display:flex;
    overflow: hidden;
    padding: 10px;
    
}
.item-one{
    width: 70vw;
}
.item-two{
    margin-top: 100px;
    margin-left: 4vw;
    width: 99vw;
    height: 549px!important;
   
    overflow: hidden;
    
    
}
.item-two img{
    margin-top: 10px;
    width: 709px;
height: 549px!important;
    margin-left: -1vw;
    
  

}
.t-text{
   font-family: Rubik;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 16px;
   overflow: hidden;
   color: #939AA9;

   
}
.bt-n{
    display:flex;
    margin-top: 7.5vh;     
}
.contact{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
color: #656971;
margin-top: 15vh;
}
.c2{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
color: #EDEFF3;
width: 158px;
height: 16px;
text-decoration-line: underline;
}

.item-one h1{
    margin-top: 258px;
   font-family: Caveat;
   font-style: normal;
   font-weight: normal;
   font-size: 48px;
   line-height: 48px;
    color: #EDEFF3;
    margin-bottom: 2vh;
}
.b1{
  
    
     
    margin-right: 18px;
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;


cursor: pointer;



border-radius: 4px;
/* identical to box height, or 100% */
width: 150px;
height: 56px;

/* Text/Alternate-light-grey */

color: #EDEFF3;
}
.b1:hover{
    transform: scale(1.02);
}
.b2:hover{
    transform: scale(1.05);
    color: #FCFCFC;
}
.b2{
    background: transparent;
    border: transparent;
    font-family: Rubik;
font-style: normal;
font-weight: medium;
width: 202px;
height: 56px;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */


/* Text/Tertiary */

color: #BFC6EB;

}
.b2:hover{
    background: transparent !important;
}
/* secound box*/
.container-two{
    color:#939AA9;
    width: 648px;
    
   
    margin-top: 89px;
   
    
}
.container-two h2{
    width: 648px;
height: 132px;
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 44px;
/* or 137% */


/* Text/Light-20 */

color: #939AA9;
}

.container-three{
    display:flex;
    opacity: 1;
   
}
.item-3{
    color: #EDEFF3;
    opacity: 1;
   
    
   
}
.item-3 h1{
    width:40;
    opacity: 1;

    color: #363A40;;
    margin-top: 260px;
    font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 60px;
/* or 121% */
width: 456px;
letter-spacing: 0.0025em;
}

.item-3 p{
    font-family: Rubik;
    width: 95%;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 34px;
margin-top: 112px;
width: 552px;
margin-left: 13vw;
color: #939AA9;
}
.belowtext{
    font-size: 24px;
line-height: 40px;
margin-top: 64px!important;

color: #FCFCFC!important;
}
/*third box*/

.count{
    width: 100%!important;
    text-align: center;
    justify-content: center;
    margin-top: 20vh;
    margin-left: 0vw;
    
}
.count2{
 display: none;
}

.j{
    height: 30vh;
}
.j h1{
    font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 72px;
/* identical to box height, or 100% */


/* Text/Light */

color: #FCFCFC;
}
.j p{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* or 125% */

text-align: center;

/* Text/Light-20 */

color: #939AA9;
}
/*fourth box*/


.box1{
    margin-bottom: 176px;
    margin-left: 5vw;
    width: 648px;
height: 575px;
    
}
.p{
   opacity: 1;
}
.z{
    
    opacity: 0.5;
}
.b3{
    margin-left: 29vw;
}

.btext{
    height: 84px;
    overflow: hidden;
}
.btext h2{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    margin-top: 20px;
    width: 50vw;
    color: #EDEFF3;
}
.btext span{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */


/* Text/Light-30 */

color: #6C778C;
}
.box1 img{

    width: 648px;
    height: 575px;

 transition: all 0.3s ease 0s;
overflow: hidden;
}
.box1 img:hover{
    transform: scale(1.15);
}
.box1 div{
    width: 648px;
    height: 575px;
    overflow: hidden;
    
    
}
.number{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
opacity: 0.5;
/* identical to box height, or 100% */
color: #6C778C;
letter-spacing: 0.05em;
transform: rotate(-90deg);
/* Text/Dark-grey */
position:absolute;
margin-left: 43vw;
margin-top: -3vh;
z-index: 99999999999;

}
.number2{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */
color: #6C778C;
letter-spacing: 0.05em;
transform: rotate(-90deg);
/* Text/Dark-grey */
position:absolute;
margin-left: -3vw;
margin-top: -3.5vh;
z-index: 99999999999;
opacity: 0.5;

}
.number3{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */
color: #6C778C;
letter-spacing: 0.05em;
transform: rotate(-90deg);
/* Text/Dark-grey */
position:absolute;
margin-left: 43vw;
margin-top: -3.5vh;

z-index: 99999999999;
opacity: 0.5;


}
.number4{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
/* identical to box height, or 100% */
color: #6C778C;
letter-spacing: 0.05em;
transform: rotate(-90deg);
/* Text/Dark-grey */
position:absolute;
margin-left: -3vw;
margin-top: -3.4vh;
z-index: 99999999999;
opacity: 0.5;

}


.dis{
font-family: Rubik;
width: 40%;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;

color: #939AA9;
}
.head{
    font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 62px;

color: #EDEFF3;
}
.navigation{
    display: flex;
flex-direction: row;
align-items: flex-start;

margin-top: 56px;

}
.n{
    display: flex;
flex-direction: row;
align-items: flex-start;

margin-right: 64px;
position: static;
flex: none;
order: 2;
flex-grow: 0;
margin-bottom: 6px;
}
.frame{
    margin-top: 10vh;
    
}
.n button{
    position: static;
background: transparent;
border:transparent;
font-family: Rubik;
font-style: normal;
font-weight: normal;

flex: none;
order: 0;
flex-grow: 0;

}
.n button:hover{
    color:#c1c4d6;
}
.invisible{
    display: none;
}
.invisible a{
    display: none;
}
.hoverbutton{
    position: absolute;
    z-index: 999999999;
    display: flex;
    left: 20.5vw;
    margin-top:29vh;
}
.hoverbutton2{
    position: absolute;
    z-index: 999999999;
    display: flex;
    left: 45vw;
    margin-top:29vh;
}
.bt-1{
    width: 196px;
height: 56px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
color: #EDEFF3;
background: transparent;
box-shadow: transparent;
background: linear-gradient(97.15deg, #793599 -11.99%, #133A9E 109.23%);
box-shadow: -5px -5px 30px rgba(255, 255, 255, 0.25), 10px 10px 40px #0C0D0E;
border-radius: 4px;
}
.bt-2{
    margin-top: 32px;
    width: 196px;
height: 56px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    border: transparent;
    font-size: 16px;
    line-height: 16px;
    color: #EDEFF3;
    background: linear-gradient(97.15deg, #793599 -11.99%, #133A9E 109.23%);
    box-shadow: -5px -5px 30px rgba(255, 255, 255, 0.25), 10px 10px 40px #0C0D0E;
    border-radius: 4px;
}

.black{
    color:#656971;
}
.white{
    color:#BFC6EB; 
    border-bottom:#BFC6EB ;
    border: 2px;
}
.an-text{
    margin-top: 260px;
}
/* 5th fase*/
.table1{
    display: flex;
    
}
.one{

    width: 264px;
    height: 176px;
margin-left: 14vw;
margin-top: 60vh;
overflow: hidden;

}
.two{

    width: 138px;
    height: 206px;
margin-left: 4vw;
margin-top: 40vh;
overflow: hidden;
}
.three{
  
    width: 168px;
    height: 233px;
margin-left: 5vw;
margin-top: 30vh;
overflow: hidden;
}
.four{

    width: 360px;
    height: 240px;
margin-left: 2vw;
margin-top: 55vh;
overflow: hidden;
}
.table2 {

    text-align: center;
    width: 52vw;
    margin-left: 22vw;
    opacity: 0.8;
}
.table2 h1{
    font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 56px;
line-height: 56px;
/* identical to box height, or 100% */


/* Text/Light */

color: #FCFCFC;
}
.table2 p{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
/* or 133% */

text-align: center;

/* Text/Light-20 */

color: #939AA9;
}

.table1 img{
    width: 100%;
    height: 100%;
}


.table3{
    display: flex;
    margin-left: 4vw;
}
.five{
    width: 357px;
height: 297px;

margin-left: 11vw;
margin-top:10vh; 
overflow: hidden;
}
.five img{
    width: 357px;
    height: 297px;
    
}
.six{
    width: 360px;
height: 424px;
    overflow: hidden;
margin-left: 7vw;
margin-top: 30vh;
}
.six img{
    width: 360px;
height: 424px;
}
.seven{
    width: 264px;
    height: 198px;
margin-left: 2vw;
margin-top:5vh;
overflow: hidden;

}
.seven img{
    width: 264px;
    height: 198px;
}

/* footer */
.bottom{
    margin-left: 10vw;
   
}



.fouter{
    display:flex;
 
    margin-top: 16vh;
}
.fo1{
    width: 30%;
}
.fo1 h2{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 34px;

color: #EDEFF3;
}
.fo1 p{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
margin-top: 32px;
color: #656971;
}
.idea{
    margin-bottom: 6px;
}
.span{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
text-decoration-line: underline;
margin-top: 4px;
color: #EDEFF3;

}
.fo2 p{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 14px;
color: #7C7F86;
}
.fo2{
    width: 30%;
    margin-left: 27vw;
    
    
}
.back{
    margin-top: 6vh!important;
}
.icons{
    display: flex;
    margin-top: 35px;

   
}
.icons a{
    margin-right: 40px;
    width: 32px;
    height: 32px;
  
}
.icons a:nth-child(1){
    margin-top:-7px ;
    width: 40px;
    height: 40px;
}
/*
.icons img:nth-child(2){
    opacity: 0;
    position: absolute;
}
.icons img:nth-child(1):hover{
    opacity: 0;
    
}
.icons img:nth-child(1){
    opacity: 1;
    position: absolute;
}
.icons img:nth-child(2):hover{
    opacity: 1;
}*/


.icons img:hover{
    opacity: 0.3;

}
.last{
    text-align: center;
    padding-bottom: 0vh;
}
.copy{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */
margin-left: -1vw;
text-align: center;
/* Text/Dark-20 */

color: #363A40;
}



/*model*/
.modal-content{
    background: #2D3136;
   border-radius: 20px;

    box-shadow: 10px 10px 40px 0px rgba(12, 13, 13, 0.7);

box-shadow: -10px -10px 40px 0px rgba(212, 211, 226, 0.15);

box-shadow: 5px 5px 24px 0px rgba(12, 13, 13, 0.25) inset;

box-shadow: -5px -5px 24px 0px rgba(179, 178, 186, 0.05) inset;
border-radius: 20px!important;

box-shadow: -10px -10px 40px rgba(212, 211, 226, 0.15), 10px 10px 40px rgba(12, 13, 13, 0.7), inset -5px -5px 24px rgba(179, 178, 186, 0.05), inset 5px 5px 24px rgba(12, 13, 13, 0.25);
border-radius: 20px!important;

}
.model{
    padding: 0;
    border-radius: 20px!important;
}
.modal-fullscreen{
    width: 80vw!important;
    margin-top: 15vh;
    margin-left: 10vw;
    height: 83vh;
    background: transparent;
 
   
}
.contax {
    width: 70vw!important;
  
}
.contax .modal-content {
    width: 70vw!important;
    margin-left: 5vw!important;
}
.cross2{
    position: absolute;
    margin-left: 66vw;
    margin-top: 32px;
    z-index: 99999999999999;
}
.cross{
    position: absolute;
    margin-left: 76vw;
    margin-top: 32px;
    z-index: 99999999999999;
}
.modal-header{
    border: transparent;
}
.modal-footer{
    border: transparent;
}

.modal-body img{
    
    width: 483px;
height: 398px;
margin-left: 70px;
margin-top: 10vh;
padding: 0!important;

}
.modal-body{
    display: flex;

}
.from{
    width: 30vw;
    margin-left: 6vw;
    margin-top: 10px;
}
.texttop h1{
    font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 24px;
color: #EDEFF3;
}
.top{
    display: none;
}
.im{
    display: flex;
}
.texttop p{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: #939AA9;
}
.inputtext label{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */
margin-top: 9px;

/* Text/Light-20 */

color: #939AA9;

}

.button {
    background: linear-gradient(91.42deg, #f0f1f3 -1.9%, rgba(45, 49, 54, 0) 95.8%) ;
    border-radius: 5px;
   
    display: inline-block;
    font-size: 20px;
    padding: 1px;
    text-decoration: none;
    margin-top: 10px;
  }
  .button input {
    background: #2D3136;
    border: transparent;
    display: block;
    width: 360px;
height: 56px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */


/* Text/Light */

color: #FCFCFC;
    padding: 1em 3em;
    border-radius: 6px;
  }
.button:hover{
   

background-color: linear-gradient(91.42deg, #8346C2 -1.9%, #243A9E 95.8%);


}



  .button2 {
    background: linear-gradient(91.42deg, #f0f1f3 -1.9%, rgba(45, 49, 54, 0) 95.8%) ;
    border-radius: 5px;
    
    display: inline-block;
    font-size: 20px;
    padding: 1px;
    text-decoration: none;
    margin-top: 10px;
    
  }
  .button2 textarea {
    background: #2D3136;
    border: transparent;
    display: block;
    height: 192px;
         
    width: 360px;
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */


/* Text/Light */

color: #FCFCFC;
    padding: 2em 3em;
    border-radius: 6px;
  }
 
.inputtext input::placeholder{
    position: absolute;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #656971;
    padding-top: 10px;

}
.borders{
    background-color:black ;
    margin-top: 10px;
    padding: 0;
    width: 360px;
    height: 56px;
}

.inputtext textarea::placeholder{
    position: absolute;
margin-top: 0px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
    
    
    /* Text/Dark-grey */
    
    color: #656971;

}
.solvelabel{
    margin-top: 36px!important;
}
.m img:hover{
    transform: scale(1.02);
}
.mb img:hover{
    transform: scale(1.02);
}
.m img{
    
    margin-left: 0px;
    width: 250px;
    height: 56px;
margin-top: 40px;
}
.m{
    width: 250px;
height: 56px;
    margin-top: 40px;
}
.mb img{
    
 
    width: 250px;
height: 56px;
margin-left:0px!important;
margin-top: 40px!important;
}
.mb{
    width: 250px;
height: 56px;
    margin-top: 0px;
    margin-left:0px!important;
}

.inputtext button{
    background: transparent;
border-radius: 4px;

/* Text/Alternate-light-grey */
border:transparent;


}
.modelanimation{
    display: block;
    animation: srick linear 4s;
}
@keyframes srick {
    from{
        width: 100% !important; ;
    }
    to{
        width: 50% !important;;
    }
    
}
.ondone{
    text-align: center;
    margin-left: 14vw;
    margin-top: -5vh;
    
}
.a{
    display: block;
}
.b{
    display: none;
}
.img{
    width: 453px!important;
height: 383px!important;
}
.ondone button{
    
    position: absolute;
 background: transparent;
 border: transparent;
 width: 258px!important;
 height: 56px!important;
margin-left: -11.5vw;
margin-top: -4vh;
text-align: center;


}
.fbt a{
    
    width: 258px!important;
    height: 56px!important;

}
.fbt img{
    width:258px!important;
    height: 56px!important;
}

.ondone h2{
    font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 24px;
margin-left: 2vw;
/* identical to box height, or 100% */


/* Text/Alternate-light-grey */

color: #EDEFF3;
}
.ondone p{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */


/* Text/Light-20 */

color: #939AA9;
}
.ondone span{
    font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */


/* Text/Alternate-light-grey */

color: #EDEFF3;
}
.i{
    display: block;
}
.k{
    display: none;
}

#id::placeholder{
    position: absolute;
    background-color: #4E3333;
    height: 15px;
    margin-top: 7px;
    padding-top: 5px;
    padding: 3px;

color: #B83939;

}
#id2::placeholder{

    background-color: #4E3333;
   padding: 5px;

color: #B83939;

}
.btn-close{
    background: transparent url(./Vector.png) center/1em auto no-repeat!important;
  
}



.modal-backdrop {
    position: fixed;
   
    z-index: 9999999;
    
}