@media screen and (max-width: 680px){
    .backgound{
        margin-right: 7vw;
        margin-left: 7vw;
      }
    .navb{
        position: fixed;
    }
    .navbar-nav{
        margin-left: 4vw;
    }
    .nav-link{
        width: 20vw;
    }
    .navbar-brand{
        margin-left:4vw;
    }

 .container-one{
        flex-direction: column-reverse;       
    }
    
.item-one{
    width: 75vw;
}
.item-two{
    margin: 0;
    margin-top: 74px;
    
}
.item-two img{
    width: 80vw;
}
.bt-n{
    width: 400px;
}
.b1{
    font-size: 16px!important;
}
.contact{

margin-top: 15vh;
}

.item-one h1{
    margin-top: 20px;  
    margin-bottom: 2vh;
}

.container-two{
    width: 100%;
}



.container-three{
    flex-direction: column;
   
}
.item-3{
    width: 80vw;  
}
.item-3 h1{
    width:80vw;
    height: auto;

  
    margin-top: 44px;
    

font-size: 36px;
line-height: 40px;

}

.item-3 p{
      font-size: 19px;
    line-height: 20px;
margin-top: 14px;

color: #939AA9;
}

/*third box*/

.count{
    width: 100%!important;
    text-align: center;
    justify-content: center;
    margin-top: 10vh;
    
}

.j{
    height: 30vh;
}
.j h1{
font-size: 32px;
line-height: 32px;
}
.j p{

font-size: 10px;
line-height: 14px;
color: #939AA9;
}
/* fourth box*/
.box1{
  
    margin-left: 0vw;
}

.b3{
    margin-left: 0vw;
}
.box1 h2{
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
margin-top: 4vh;
width: 90%;
color: #EDEFF3;

}
.btext{
    height: 70px;
}
.box1 img{

width: 100%;
height: auto;
 transition: all 0.3s ease 0s;
overflow: hidden;
}
.box1 div{
    width: 90%;
    overflow: hidden;
}
  
  .box1 img:hover {
    transform: scale(1.05);
  }


.dis{

width: 90%;

font-size: 24px;
line-height: 32px;

}
.head{
 
font-size: 26px;
line-height: 30px;
margin-top: 10vh;
;
}
.navigation{

margin-top: 72px;

}
.n{
margin: 0;
margin-right: 0;

}
.b2{
    margin: 0;
}
.frame{
    margin-top: 1vh;
   
}
.n button{
    position: static;
    font-size: 12px;
    margin-bottom: 1vh;


}
.system{
    width: 90vw;
}

.bio{
 
margin-top: -25px; 
margin-bottom: 4px;

}
.anmate-text{
font-size: 18px;
height: 34px; 

}
/* intersest*/
.one{
    height: 12vh;
    margin-top: 30vh;
}
.two{
    height: 14vh;
    margin-top: 20vh;
}
.three{
    height: 15vh;
    margin-top: 16vh;
}
.four{
    height: 15vh;
    margin-top: 30vh;
}
.table2 {

    text-align: center;
    width: 80%;
    margin-left: 6vw;
    opacity: 0.8;
}
.table2 h1{

font-size: 24px;
line-height: 24px;

}
.table2 p{

font-size: 14px;
line-height: 14px;

}
.five{
    height: 22vh;
    width: 23vw;
margin-left: 11vw;
margin-top:5vh; 
overflow: hidden;
}
.five img{
    height: 22vh;
width: 23vw;
}
.six{
    width: 24vw;
    height: 25vh;
    overflow: hidden;
margin-left: 7vw;
margin-top: 17vh;
}
.six img{
      width: 24vw;
height: 25vh;
}
.seven{
    width: 17vw;
height: 15vh;
margin-left: 2vw;
margin-top:3vh;
overflow: hidden;

}
.seven img{
    width: 17vw;
    height: 15vh;
}
/*footer*/
.fouter{
    flex-direction: column;
 
}
.fo1{
    width: 100%;
    margin: 0;
    margin-bottom: 10vh;
    text-align: center;
}
.fo2{
    width: 100%;
    margin-top: 10vh;
    margin: 0;
    text-align: center;
}


}